
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#env files
.env

#Allure

allure-results/
allure-report/

#Some DB files
.DS_Store
*.log